:root {
  --pricipal-app: #161d6f;
  --secundary-app: #0b2f9f;
  --success-app: #c7ffd8;
  --other-app: #c7ffd8;
  --white-app: #ffffff;
  --black-app: #000000;
  --gray-app: #e1e1e1;
  --dark-gray-app: #1f1f1f;
  --green-app: #8fd487;
  --red-app: #e08177;
}
